.return-signup-container{
    margin-top: 40%;
}
.splash-page-main-container{
    cursor: default;
}

.signup-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.signup-form-container > label {
    margin: 5px;
}

.username-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.username-text{
    font-size: 32px;
    margin-right: 17%;
}
.username-input{
    width: 65%;
    height: 1.3rem;
    border: solid black 1px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5%;
    background-color: rgba(0,0,0,0);
    font-size: 32px;
}

.password-outter-input{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 0px;

}

.password-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.password-text{
    width:30%
}
.password-input{
    width: 64%;
    height: 1.3rem;
    border: solid black 1px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5%;
    background-color: rgba(0,0,0,0);
}

.hide-password-div{
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-left: 2px;
}
.show-password-boolean{
    /* width:30% */
}



.login-button{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 10px;
    width: 50%;
}

.login-button:hover{
    cursor: pointer;
}

.sign-up-text{
    text-decoration: underline;
    font-weight: 600;
}

.sign-up-text:hover{
    cursor: pointer;
}
