.cirriculum-main{
    margin-left: 50px;
    height: 100%;
}
.cirriculum-main:hover{
    cursor: default;
}

.student-name-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
.cirriculum-heads-up-container{
    display: flex;
}

.activities-main-container{
    margin-top: 10px;
    margin-left: 10px;
    overflow-y: scroll;
    height: 86%;
}
.activity{
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 3px 0px;
}
.activity-name{
    width: 33%;
}
.activity-mastery{
    padding-left: 10px;
    width: 7%;
}
.activity-notes{
    width: 33%;
}

.select-area-container{
    display: flex;
}
.selectable-areas{
    position: fixed;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 5px 2px 2px;
    margin-left: 2px;
    box-shadow: 2px 2px 5px black;
    background-color: rgba(160,75,255,1.0);
}
.selectable-area{
    font-size:20px;
}
.selectable-area:hover{
    cursor: pointer;
}

.darker{
    background-color: rgba(160,75,255,.9);
}
.lighter{
    background-color: rgba(160,75,255,.3);
}
