.always-arrow-container{
    display: flex;
    height: 100%;
}
.arrow{
    display: flex;
    height: 100%;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    align-items: center;
    padding-right: 5px;
}
.list-children-container{
    height: 100%;
}

.outter-most-children-list-container{

}
.children-list-open-container{
    height: 100%;
    width: fit-content;
    border: solid 3px black;
    border-top-right-radius: 5%;
    box-shadow: 5px 0px 10px black;
}
.showing-children-main{
    width: fit-content;

}
.showing-children-list{
    width: fit-content;
    display: flex;
    flex-direction: column;

}
.showing-children-list:hover{
    cursor: pointer;
}
.child-name-container{
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    padding: 2px 5px 2px 2px;
    font-size: large;
}
